header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2.75rem 9.375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
}

header .logo {
  width: 13rem;
}
