.wrapper {
  padding: 2.75rem 9.375rem;
  /* padding-top: 4.375rem; */
}

.container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.875rem;
}
