* {
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

.wrapper {
  width: 100%;
  padding: 44px 150px;
}

.container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

@media (max-width: 991px) {
  .wrapper {
    padding: 30px 32px;
  }
  .container {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
}
